body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

img {
    width: 70%;
    max-width: 400px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 5px gray;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px #aaa;
}

input, select, textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #ffcc00;
    color: black;
}

.modelo {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 0 10px #aaa;
}

.galeria img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px #555;
}
